---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="About Me"
>
	<p>
		一个在读工科学生，希望能分享一些经历。
	</p>
</Layout>
