---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<!-- 			<div class="hero-image">
				<img src="/assets/hero-image.jpg" alt="Hero Image" />
			</div> 
			-->

			<div class="prose">
				<h1 class="title">Welcome to {SITE_TITLE}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p>Explore the blog, read articles, and learn more about me.</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
